<h1>MML Checker</h1>

<%= form_tag '/lint', method: :post do %>
<%= label_tag(:lint, "MMLインスタンスを入力してください:") %><br/>
<%= text_area_tag(:mml,'', size: '70x20') %><br/>
<%= submit_tag "送信" %>
<% end %>

<% if @lint %>
  <% if @lint.valid? %>
    <%= render 'success' %>
  <% else %>
    <%= render 'failure' %>
  <% end %>
<% end %>
